<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Pobídka k hlasování</title>
</head>
<body>
<p>Dobrý den,</p>

<p>Ještě vám zbývá rozhodnout v následujících hlasováních:</p>
<!-- TODO >
</body>
</html>