<table class="table table-hover table-striped">
    <thead>
    <th>
        asdf
    </th>
    <th>
        asdf
    </th>
    <th>
        asdf
    </th>
    <th>
        asdf
    </th>
    </thead>
    <tbody>
        <tr>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
        </tr>
    </tbody>
</table>